*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.MiddlePage {
  width: 100%;
  height: 100vh;
  padding: 6rem 2rem 2rem;
  background-color: #0C121E;
  align-content:baseline;
  justify-content: center;
  display: flex;
}

.Container{
  max-width: 800PX;
  position: fixed;
  /* outline: auto;
  outline-width: 10px;
  outline-color: white; */
  padding: 6rem 2rem 2rem;
  background-color: #0C121E;
}

.Items {
  display: grid;
  grid-template-areas:
  "deux deux un";
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.ProfilePic {
  width: 150px;
  height: 200px;
  border-radius: 100%;
}

.Element {
    /* outline: auto;
    outline-width: 10px;
    outline-color: white; */
  background-color: #0C121E;
  padding: 0.5rem 0.5rem 0.5rem;
  color: #FFF;
  max-width: 60VW;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
    /* line-height: 0.7rem;
  outline: none;
  animation: animate 5s infinite; */
}

.FranceLogo {
  width: 1.5rem;
  height: 1rem;
}

.Linked {
  color: #88A4E6;
}

.LinkedInLogo {
  width: 1.5rem;
  height: 1rem;
}

@media screen and (max-width: 1111px) {
  .Items {
    display: grid;
    grid-template-areas:
    "deux";
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  #un {
    display: none;
  }
}

#un {
  display: flex;
  grid-area: un;
  width: fit-content;
  background-color: #0C121E;
}

#deux {
  grid-area: deux;
}

#trois {
  grid-area: trois;
}

#quatre {
  grid-area: quatre;
}

#cinq {
  grid-area: cinq;
}
